<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true">
    <testsuites>
        <testsuite name="Traffic Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
